html,
body {
  font-family: "Poppins", serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-track {
  background: #2b2b2b;
}
.navbar {
  /* From https://css.glass */
  background: rgba(0, 158, 219, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 158, 219, 0.38);
}
#home {
  padding: 7rem 1rem;
  background-color: #2b2b2b;
}
.jumbotron {
  padding: 3rem 1rem;
  background-color: #2b2b2b;
}
#about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #009edb;
}
#feature {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #009edb;
}
@media only screen and (max-width: 768px) {
  .bintang .b-cover{
    max-width: 10%;
  }
  .hero {
    width: 100vw; /* Ensure it takes full viewport width */
    height: 86.5vh;
    padding-top: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/headermb.jpeg") no-repeat center center;
    background-size: cover;
    border: 3px solid red;
  }
}
@media only screen and (min-width: 768px) {
  
}
.bi {
  color: #009edb;
}
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}
footer {
  background-color: #2b2b2b;
}
#science {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #009edb;
}
.book {
  padding: 20px;
  background: white;
  border-radius: 5px;
  margin: 10px;
}
#news {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #009edb;
}
.news-item img {
  width: 100%;
  height: auto;
}
.news-category {
  color: red;
  font-weight: bold;
}
.hero {
  padding-top: 9rem;
  height: 91.3vh;
  background: url("img/header.jpeg") no-repeat center center;
  background-size: contain;
}
.img{
  display:block;
  width: 100%;
  margin-top: 3.5rem;
 }

.imgmobile{
 display:none;
}

@media (max-width: 640px) and (min-width: 320px){
 .img{
  display:none;
 }

 .imgmobile{
  margin-top: 3.6rem;
  display:block;
  width: 100%;
  background-repeat: no-repeat;
 }
}
#fiction {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #009edb;
}